:root {
  --brand-color: #4d5ae5;
  --navy-blue: #2e2f42;
  --white-color: #FFFFFFFF;
  --drak-grey: #434455;
  --backround-white:#f4f4f4fd;
  --border-white:#e7e9fc;
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --ocean-blue: #404bbf;
  --footer-white: #F4F4FD;
  --navbar-backround: #E7E9FC; 
  --logo-border: #8E8F99;
  --padding-vertical-global: 96px;
  --padding-horizontal-global: 16px;
  --padding-horizontal-global-second: 82px;
  --padding-vertical-global-second: 97.5px;
  --padding-vertical-hero: 112px;
  --padding-horizontal-hero: 54px;
}
*{
  box-sizing: border-box;
}
*{
  margin: 0;
}

body {
  font-family: var(--text-font-family);
  color: var(--drak-grey);
  background-color: var(--white-color);}
.container{
  max-width: 1158px;
  margin: 0 auto;
  
}
/* Header*/
.hero-header{
  height: 72px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  max-width: 1440px;
  
}
@media  screen and (width >=1158px) {
  .hero-header{
    padding: 24px 156px;
  }
  
}
@media screen and (width >= 768px){
  .hero-header{
    padding-right:16px;
    padding-left:16px;
    display: contents;
    align-items: center;
  }
}


.hero-navbar-menu-button{
  background: none;background:none ;
  border: none;
  justify-content: flex-end;
  cursor: pointer;
 
}
@media  screen and (width >=768px) {
  .hero-navbar-menu-button{
    display: none;
  }
  
}


/* logo */
.logo {
  font-family: var(--logo-font-family);
  color: var(--brand-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text decoration: none;
}
.logo-space{
  margin-right: 76px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.logo-link{
  font-family: var(--logo-font-family);
  color: var(--brand-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text decoration: none;

}
.link-nav{
  text-decoration: none;

}
.link {
    text-decoration: none;
    display: block;
}
.link:hover,
.link:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--ocean-blue);
}
/* nav section */
.navbar{
  display: flex;
  align-items: center;
}
.navbar-align{
  align-items: center;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin-left:0px;
}
@media screen and (width <768px){
  .navbar-align{
    display: unset;
    
  }
  .navbar{
    justify-content: space-between;
  }
}

.navbar-backround{
  background: var(--white-color);
  border-bottom: 1px solid #e7e9fc;
}
.navbar-link{
  padding-top: 24px;
  padding-bottom: 24px;
}
.hero-header-cta{
display: flex;
gap: 40px;
}
@media screen and (width <1158px){
  .hero-header-cta{
    flex-direction: column;
    gap: 12px;
    padding-top:16px;
    padding-bottom:16px;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 16px;
  }
  .logo-space{
    padding-left:16px;
  }
}
.hero-title{
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
  text-align: center;
}

.nav-link {
  color: var(--navy-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
  border-color: var(--border-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  
}
.nav-link:hover, 
.nav-link:focus {
  color: var(--ocean-blue);}
.nav-link-studio{
  color:#404bbf;
}
.nav-link-studio::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.nav-link-studio:hover,
.nav-link-studio:focus,
.nav-link-studio{
  border-color: #404bbf;
  color: #404bbf;
}


.list {
  color: var(--navy-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;
}
/* address section */
.address-mail {
  color: var(--drak-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.address-style {
  font-style: normal;
}
.address:hover,
.address:focus {
  color: var(--white-color);
  background-color: var(--ocean-blue);
  
}

/* Section 1*/
.hero-content {
  background-image: linear-gradient(rgba(46, 47, 66, 0.70),
  rgba(46, 47, 66, 0.70)), url(../images/backround-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--white-color);
  padding: var(--padding-vertical-hero) var(--padding-horizontal-hero);
  flex-grow: 1;
  text-align: center;
  max-width: 1440px;
}
.hero-font {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-align: center;
}
@media screen and (width >=768px){
  .hero-font{
    font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;

  }
}
.order-service-button {
  background-color: var(--brand-color);
  color: var(--white-color);
  border-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
  font-family: var(--text-font-family);
  border-radius: 4px;
  padding: 16px 32px;
  align-content: center;
  }
  .service-button{
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.order-service-button:hover,
.order-service-button:focus {
    color: var(--white-color);
  background-color: var(--ocean-blue);
  border-color: rgba(0, 0, 0, 0);
}


/*Section 2*/
.section-about-align{
  padding: var(--padding-vertical-global) var(--padding-horizontal-global);
}
.section-about{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 0px;
  gap: 72px;
}
@media screen and (width >=1158px){
  .section-about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding-left: 0px;
  }
}
@media screen and (width >768px) {
  .section-about-align{
    flex-wrap: wrap;
    flex-direction: row;
    display:flex;
    justify-content: center;
  }
}


.section-about-list{
 display: flex;
 flex-direction: column;
}
@media screen and (width >=1158px){
  .section-about-list{
    flex-basis:calc((100% - 72px)/4);
  width: 100%;
  min-width: 264px;
  }
}
.about-icons{
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: var(--footer-white);
  border-radius: 4px;
  margin-bottom: 8px;
}
@media  screen and (width < 1158px) {
  .about-icons{
    display: none;
  }
  
}
.about-title{
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
/*Section 4*/
.section-what-are-they-doing{
  padding-bottom: 120px;
}
@media screen and (width < 1158px){
  .section-what-are-they-doing{
    display: none;
  }
}
.section-what-are-they-doing-title{
  margin-bottom: 72px;
}

/*Section 3*/
.section-doing{
  display: flex;
  gap: 24px;
  padding: 0;
}
.scetion-doing-list{
  width: calc((100%-3*16px)/3);
}
/*Section 4*/
.team-section{
 padding: var(--padding-vertical-global) var(--padding-horizontal-global-second);
}
.section-our-team{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 72px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
}
@media screen and (width >= 1158px){
  .section-our-team{
  gap: 24px;
  min-width: 232px;
  padding: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  }
}


.section-our-team-title{
  margin-bottom: 72px;
}
.section-member{
  width: fit-content;
 /*width: calc((100%-3*24px)/4);*/
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team-div{
  padding-top: 32px;
  padding-bottom: 32px;
}
.our-team-title{
  text-align: center;
  margin-bottom: 8px;
  color: var(--navy-blue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  

}
.social-media-list{
  display: flex;
  gap:24px;
  fill: var(--footer-white);
  list-style: none;
}
.social-media-lists{
  min-width: 264px;
  margin-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
}
@media screen and (width >=768px){
  .social-media-lists{
    margin-top: 8px;
    justify-items: center;
    flex-direction: row;
  }
}
.social-media-decoration{
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-decoration:hover,
.social-media-decoration:focus{
  background-color: #404bbf;
}
.social-media-decoration-footer{
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-decoration-footer:hover,
.social-media-decoration-footer:focus{
  background-color: #31d0aa;
}
.social-media-icon{
  fill: var(--footer-white);
}
.section-member-descripton{
  text-align: center;

}
/*Section 5*/
.logo-title{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);

}
.logo-section{
  max-width: 1158px;
  background-color: var(--white-color);
  padding: var(--padding-vertical-global) var(--padding-horizontal-global);
}
.logo-section-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  gap: 72px;
  column-gap: 16px;
  align-items: center;
  justify-content:center;
  /*padding: 0;*/
}
@media screen and (width >= 1158px){
  .logo-section-list{
 flex-wrap:nowrap;
  }
}
.logo-list{
  
}
.logo-links{
  width: 190px;
  height: 88px;
  border: 1px solid var(--logo-border);
  border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--logo-border);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (width >=768px){
  .logo-links{
    min-width: 168px;
  }
}
@media screen and (width =< 768px){
  .logo-links{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.logo-links:hover,
.logo-links:focus{
  border-color: var(--ocean-blue);
  color: var(--ocean-blue);
}
.logo-svg{
  fill: currentColor;
}
/* portfolio */
.nav-link-portfolio{
  color:#404bbf;
}
.nav-link-portfolio::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.nav-link-portfolio:hover,
.nav-link-portfolio:focus,
.nav-link-portfolio{
  border-color: #404bbf;
  color: #404bbf;
}
.section-portfolio{
padding-top: 96px; 
padding-bottom: 120px;
}
.filter-button-list {
  color: var(--brand-color);
  background-color: var(--footer-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: var(--text-font-family);
  list-style: none;
  border: none;
}
.filter-button-list:hover {
  color: var(--white-color);
  background-color: var(--ocean-blue);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  
}
.filter-button-list:focus {
  color: var(--white-color);
  background-color: var(--ocean-blue);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-buttons{
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
  padding: 0;
}
.filter-button{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px; 
  padding-right: 24px;
  border: 1px solid var(--navbar-backround);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-cards{
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
padding: 0;
}
.card-content{
  flex-basis: calc((100% - 48px) / 3);
}
.card-div{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.card-title{
  margin-bottom: 8px;
}

.portfolio-div-transition {
  position: relative;
  overflow: hidden;
}
.portfolio-pf-transition {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-white);
  padding: 40px 32px;
  background-color: var(--brand-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link {
  width: calc((100%-48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.portfolio-link:hover .portfolio-pf-transition {
  transform: translateY(0%);
}
.portfolio-link:focus .portfolio-pf-transition {
  transform: translateY(0%);
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* title, subtitle, content */
.header {
  color: var(--navy-blue);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;}
.white-header {
color: var(--backround-white);
}
.white-backround-color-header {
  background-color: var(--footer-white);
}
.backround-white { 
  background-color: var(--white-color);
}
.image-b{
  display: block;
}
.subtitle {
  color: var(--navy-blue);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}
@media  screen and (width >= 1158px) {
  .subtitle{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  letter-spacing: 0.4px;
  }
  
}

.content-p{
  color: var(--drak-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}


.content {
  color: var(--drak-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
@media screen and (width >= 1158px){
  .content{
    font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
  }
}
/*Footer*/
.footer {
    background-color: var(--navy-blue);
    justify-content: center;
    justify-items:center;
}
@media screen and (width >= 1158px){
  .footer{
    display:flex;
  }
}
.footer-paragraph {
  color: var(--footer-white);
  font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 264px;
}
.footer-logo{
  margin-bottom: 17.5px;

}
.footer-link{
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
@media screen and (width >= 768px){
  .footer-link{
    display: inline-block;
  margin-bottom: 16px;
  }
}
.footer-social-media{
  margin-top: 72px;
  justify-content: center;
  display: flex;
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
@media screen and (width >= 768px){
  .footer-social-media{
    margin-top: 0px;
    justify-content: flex-start;
  }
}
.footer-social-media-lists{
  gap: 16px;
  padding: 0px;  
  display: flex;
  justify-content: center;
}
@media screen and (width >=1158px){
  .footer-social-media-lists{
    justify-content: flex-start;
  }

}
.footer-div{
  align-items: baseline;
  padding-top: 97.5px;
  padding-bottom: 97.5px;
}
@media screen and (width >=768px){
  .footer-div{
    padding: var(--padding-vertical-global-second) var(--padding-horizontal-global-second);
    display: flex;
    flex-wrap: wrap;
    gap:24px;
  }
}
@media screen and (width >= 1158px){
  .footer-div{
    padding: var(--padding-vertical-footer) var(--padding-horizontal-global-second);
    flex-wrap: nowrap;
    gap:0px;
  }
}
.footer-div-second{
  margin-top: 0px;
}
@media screen and (width >=1158px){
  .footer-div-second{
    margin-top:72px;
  }
}
.footer-div-first{
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

} 
@media screen and (width >=1158px){
  .footer-div-first{
    margin-right: 120px;
    align-items: flex-start;
  }

}
@media screen and (width >=768px){
  .footer-div-first{
    align-items: flex-start;
  }
}
.icon-border{
  width: 40px; 
  height: 40px;
}
/* Modal */
.modal-p {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.modal-div-name {
  margin-bottom: 8px;
}

.modal-label-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-label-div {
  position: relative;
}
.modal-input-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-name:focus {
  border-color: #4d5ae5;
}

.modal-input-name-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-name:focus + .modal-input-name-svg {
  fill: #4D5AE5;
}

.modal-div-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-div-checkbox {
  margin-bottom: 24px;
}

.modal-label-checkbox {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    /* fill 250ms cubic-bezier(0.4, 0, 0.2, 1), */ fill 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
  color: #4d5ae5;
}

.moadal-form-button {
  font-family: "Roboto", sans-serif;
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-button{
  display: flex;
  justify-content: center;
}

.footer-subscribe {
  margin-bottom: 16px;
  margin-top: 72px;
  display: flex;
  flex-direction: column;
}
@media screen  and (width >=1158px) {
  .footer-subscribe{
    margin-left: 80px;

  }
  
}

.footer-subscribe-p {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
@media screen  and (width >=768px){
  .footer-subscribe-p{
    justify-content: flex-start;
  }
} 
  
.footer-form {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
@media screen and (width >=768px){
  .footer-form{
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}

.footer-form-input {
  min-width: 264px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-button {
  width:fit-content;
  justify-content: center;
  display: flex;
  background-color: #4d5ae5;
  color: #ffffff;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-svg {
  margin-left: 16px;
  fill: #ffffff;
}

.footer-subscribe .footer-form .footer-label .footer-form-input::placeholder {
  color: #ffffff;
}

input:checked + .modal-label-checkbox span:first-child {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
/* Modal */
.modal{
  min-width: 392px;
  
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  z-index: 2;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (width >= 768px) {
    .modal{
      max-width: 408px;
      
    }
    
  }
 
  .is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .modal-booking{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
  background: var(--DAIRY, #FCFCFC);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
  }
  @media screen and (width >=768px){
    .modal-booking{
      padding: 72px 24px 24px 24px;
    }
    
  }
  .modal-button{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-button:hover,
  .modal-button:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
  }
  .modal-button-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-button-svg:hover,
  .modal-button-svg:focus{
    fill: #FFFFFFFF;
  }
 
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  
 @media screen and (width>768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: rgba(46, 47, 66, 1);
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .mobile-menu .menu-link {
    display: block;
    padding: 10px;
    color: rgba(46, 47, 66, 1);
    text-decoration: none;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .mobile-menu .menu-link:hover {
    color: rgba(64, 75, 191, 1);
    
  }
  
  
  .mobile-menu .nav-list-active {
    color: rgba(64, 75, 191, 1);
  }
  
  
  
  .mobiledown .contact .list {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 40px;
    padding-left:0px;
  }
  .mobiledown .menu-link{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .social-media-menu{
    gap: 56px;
    margin-top: 48px;
    padding-left:0px;
  }
 .menu-link{
  text-decoration: none;
 }
@media screen and (width >= 1158px) {
  :root {
    --padding-vertical-global: 120px;
    --padding-horizontal-global: 156px;
  }
}
@media screen and (width >= 768px){
  :root{
    --padding-horizontal-global-second: 108px;
  }
}
@media screen and (width >= 1158px) {
  :root{
    --padding-horizontal-global-second: 156px;
    --padding-vertical-footer:100px;
  }
}
@media screen and (width >=768px){
  :root{
    --padding-vertical-hero: 112px;
  --padding-horizontal-hero: 136px;
  }
}
@media screen and (width >= 1158px){
  :root{
    --padding-vertical-hero: 188px;
  --padding-horizontal-hero: 472px;
  }
}
@media screen and (width < 768px){
  .hero-navbar-menu{
    display:unset;
    padding: 24px 16px 24px 16px;
  }}
@media screen and (width >= 1158px){
  .hero-navbar-menu{
    padding: 24px 156px;
    
  }
}
@media screen and (width <768px){
  .navbar-link{
    display: none;
  }
  .address-style {
    display: none;
  }
}
@media screen and (width >= 768px){
  .address-style{
    gap:12px;
    
  }
}
@media screen and (width >768px){
  .mobiledown{
    display: none;
  }
}
@media screen and (width >768px){
.hero-navbar-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }}